body{
    background-color: black;
}

.split {
     height: 80%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 60px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 20px;
}

.header{
    background-image: url('../../assets/img/logo.png');
       position: absolute;
    padding-left: 245px;
    height: 50px;
    width: 62px;
    margin-left: -135px;
}

pre{
     position: absolute;
    font-size: 31px;
    font-family: times new roman;
    margin-left: -99px;
    margin-top: 100px;
}
p{
     position: absolute;
    top: 200px;
    font-size: 14px;
    left: 85px;
    color: #4c4242;
}

.left {
      left: 198px;
  background-image: url('../../assets/img/main_bg.png');
    padding-left: 183px;
}

.right {
     right: 201px;
    background-color: floralwhite;
}

h2{
        font-family: monospace;
    margin-left: 80px;
    font-size: 31px;
    margin-top: 97px;

}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
 
}

.form-group{
 
  position: relative;
  font-size: 15px;
  color: #666;
  
    margin-top: 30px;
  }
  
  .form-label{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 5px;
 
    
  }

  
  