<body>
<div class="split left">
 <div class="header">
 
</div>
<div>
 <pre>Inventory management software for
growing business.</pre>
<p>Increase your sales and keep track of evry unit.</p>

</div>
<footer style="position: absolute; top:500px; left: 85px; font-size: 14px; color: #3DA56B">support@awesome.com</footer>
 </div>




<div class="split right">

   <h2>Login</h2>
      <div class="form-group">
    <input required="required" class="form-control"/>
    <label class="form-label">Username    </label>
  </div>

    <div class="form-group">
    <input id="password" type="password" required="required" class="form-control"/>
    <label class="form-label">Password</label>
    <p class="alert">Invalid Credentials..!!</p>
    <button class="btn">Login </button>
  </div>
</div>
</body>
